.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: yellow;
    color: brown;
    height: 5vh;
    border-top: 2px solid white;
  
  p{
      font-size: 25px;
      
  }
}